<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title><%= title %></title>
</head>
<body>
  <%- include('../partials/header') %>
  <%- include('../partials/nav') %>

  <main>
    <%- vehicleHtml %>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>